@model IEnumerable<WebApplication6.Models.Record>

@{
    ViewBag.Title = "Buscar";
}

<div class="main_title our_service_area">
    <h2 style="color: #0084b4;">Buscar productos</h2>
</div>

<div class="row tableHeader">
        <div class="col-md-3 col-xs-3 tableCell">Producto</div>
        <div class="col-md-3 col-xs-3 tableCell">Precio</div>
        <div class="col-md-3 col-xs-3 tableCell">Comprar</div>
        <div class="col-md-3 col-xs-3 tableCell">Compartir</div>
</div>
<div class="row rowTable">
        <div class="col-md-3 col-xs-3 tableCell">1</div>
        <div class="col-md-3 col-xs-3 tableCell">2</div>
        <div class="col-md-3 col-xs-3 tableCell">3</div>
        <div class="col-md-3 col-xs-3 tableCell">4</div>
</div>
