@{
    ViewBag.Title = "Home Page";
}

<!--================Service Area =================-->
<section class="our_service_area">
    <div class="container">
        <div class="main_title">
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service_item">
                    <i class="lnr lnr-cloud-check"></i>
                    <a href="#"><h3>Manejo en la nube</h3></a>
                    <p>Nuestros servicios soportan el manejo de los cheats desde la nube. Con la capacidad de poder modificar en tiempo real desde el celular los parametros de los cheats</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service_item">
                    <i class="lnr lnr-phone"></i>
                    <a href="#"><h3>24/7 Support</h3></a>
                    <p>Ofrecemos soporte 7 dias a la semana todas las semanas, los 365 dias del año .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Service Area =================-->
<!--================Feature Area =================-->
<section class="feature_area" id="feature">
    <div class="container">
        <div class="main_title">
            <h2>Amazing Features</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="left_side_feature">
                    <div class="media">
                        <div class="media-body">
                            <a href="#"><h4>Responsive Design</h4></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                        <div class="media-right">
                            <i class="lnr lnr-screen"></i>
                        </div>
                    </div>
                </div>
                <div class="left_side_feature">
                    <div class="media">
                        <div class="media-body">
                            <a href="#"><h4>High Quality View</h4></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                        <div class="media-right">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                    </div>
                </div>
                <div class="left_side_feature">
                    <div class="media">
                        <div class="media-body">
                            <a href="#"><h4>Video Previews</h4></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                        <div class="media-right">
                            <i class="lnr lnr-film-play"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature_mobile">
                    <img src="img/feature-m-slider/feature-m-slider-shap.png" alt="">
                    <div class="feature_mobile_slider owl-carousel">
                        <div class="item"><img src="img/feature-m-slider/feature-m-slider-1.jpg" alt=""></div>
                        <div class="item"><img src="img/feature-m-slider/feature-m-slider-2.jpg" alt=""></div>
                        <div class="item"><img src="img/feature-m-slider/feature-m-slider-3.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right_side_feature">
                    <div class="media">
                        <div class="media-left">
                            <i class="lnr lnr-dice"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Beautiful Design</h4></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                </div>
                <div class="right_side_feature">
                    <div class="media">
                        <div class="media-left">
                            <i class="lnr lnr-select"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Well Documented</h4></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                </div>
                <div class="right_side_feature">
                    <div class="media">
                        <div class="media-left">
                            <i class="lnr lnr-phone"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>24/7 Support</h4></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
<!--================Works Area =================-->
<section class="works_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="works_left_img">
                    <img src="img/works/work-1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="works_right_content">
                    <div class="content_title">
                        <h2>Como funciona</h2>
                    </div>
                    <p>Descargas el cheat, entras con tu cuenta y ya esta!. El cheat se registra a tu cuenta de steam por lo que unicamente se puede usar el cheat en la cuenta de steam donde se registro el cheat</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Works Area =================-->
<!--================Screenshot Area =================-->
<section class="screenshot_area" id="screenshot">
    <div class="main_title">
        <h2>Screenshots</h2>
    </div>
    <div class="screenshot_inner">
        <div class="screenshot_slider owl-carousel">
            <div class="item">
                <img src="img/screenshot/screenshot-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-5.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot/screenshot-4.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Screenshot Area =================-->
<!--================Our Benefits Area =================-->
<section class="our_benefits_area display_table">
    <div class="our_benefits_inner display_table_row">
        <div class="benefits_left display_table_cell">
            <img src="img/benefits/benefits-left-1.jpg" alt="">
        </div>
        <div class="benefits_right display_table_cell" style="
    width: auto;
">
            <div class="benefits_content">
                <div class="content_title">
                    <h2>Seguridad</h2>
                </div>
                <p>Los cheats son hechos por nuestro equipo de expertos desarrollo de juegos que tiene en cuenta las medidas de proteccion que usan los juegos actualmente, para asegurarse de que las cuentas de nuestros clientes esten lo mas a salvo posible</p>
            </div>
        </div>
    </div>
</section>
<section class="our_benefits_area display_table" style="display: inline-table;">
    <div class="our_benefits_inner display_table_row">

        <div class="row benefits_right display_table_cell">
            <div class="m0 video_row">
                <iframe id="video" src="http://www.youtube.com/embed/bgTdTBpQyi8?enablejsapi=1&amp;html5=1&amp;rel=0&amp;fs=0&amp;loop=1&amp;showinfo=0&amp;disablekb=1&amp;controls=0&amp;color=white&amp;playlist=bgTdTBpQyi8" style="height: 600px; width: 600px;"></iframe>
                <div class="overlay" id="video_overlay">
                    <div class="overlay_bg"></div>
                    <div class="play_pause row m0">
                        <i class="ti-control-play" aria-hidden="true" id="play_btn"></i>
                        <i class="ti-control-pause" aria-hidden="true" id="pause_btn"></i>
                        <div class="video_content">
                            <h4>Play the Video</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Our Benefits Area =================-->
<!--================Detail Area =================-->
<section class="detail_doc_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left_detail_content">
                    <div class="content_title">
                        <h2>Detailed documentation</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <a class="read_more" href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right_detail_img">
                    <img src="img/right_detail_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Detail Area =================-->
<!--================Pricing Area =================-->
<section class="precios_area" id="precios">
    <div class="container">
        <div class="main_white_title">
            <h2>Planes</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing_item">
                    <h3>Standard</h3>
                    <h2>U$S 9.99</h2>
                    <h4>Por mes</h4>
                    <ul>
                        <li><a href="#">Fully Responsive</a></li>
                        <li><a href="#">Dedicated Support</a></li>
                        <li><a href="#">Clean and Modern Design</a></li>
                        <li><a href="#">Simple and Professional</a></li>
                        <li><a href="#">24/7 Support</a></li>
                    </ul>
                    <a class="purchase_btn" href="#">Comprar ahora</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing_item">
                    <h3>Profesional</h3>
                    <h2>U$S 29.99</h2>
                    <h4>Por 3 meses</h4>
                    <ul>
                        <li><a href="#">Fully Responsive</a></li>
                        <li><a href="#">Dedicated Support</a></li>
                        <li><a href="#">Clean and Modern Design</a></li>
                        <li><a href="#">Simple and Professional</a></li>
                        <li><a href="#">24/7 Support</a></li>
                    </ul>
                    <a class="purchase_btn" href="#">Comprar ahora</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing_item">
                    <h3>Boss</h3>
                    <h2>U$S 69.99</h2>
                    <h4>Por 6 meses</h4>
                    <ul>
                        <li><a href="#">Fully Responsive</a></li>
                        <li><a href="#">Dedicated Support</a></li>
                        <li><a href="#">Clean and Modern Design</a></li>
                        <li><a href="#">Simple and Professional</a></li>
                        <li><a href="#">24/7 Support</a></li>
                    </ul>
                    <a class="purchase_btn" href="#">Comprar ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Pricing Area =================-->
<!--================Download Area =================-->
<section class="download_area" id="download">
    <div class="container">
        <div class="download_inner">
            <h3>Descargar Ahora</h3>
            <p> Prueba de 24hs</p>
            <a href="#" class="read_more register_angkar_btn" style="border-radius: 5%;font-size: 28px;/* border: 2px; */height: auto;width: auto;border: 2px solid #000000;padding: 15px;"><i class="lnr lnr-download"></i>Descargar</a>
        </div>
    </div>
</section>
<!--================End Download Area =================-->
<!--================Asked Question Area =================-->
<section class="asked_question_area">
    <div class="container">
        <div class="content_title_middle">
            <h2>Preguntas frecuentes</h2>
        </div>
    </div>
    <div class="question_inner">
        <div class="left_question" style="margin-top: 80px;">
            <div class="left_question_inner">
                <div class="panel-group" id="askquestion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="questions1">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#askquestion" href="#question1" aria-expanded="true" aria-controls="question1">
                                    ¿Puedo compartir el cheat con mis amigos?
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="question1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="questions1">
                            <div class="panel-body">
                                No, el cheat es unico, y se asocia a tu id de steam. Solo lo podes podes tener asociado a una unica cuenta de steam
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="questions2">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#askquestion" href="#question2" aria-expanded="false" aria-controls="question2">
                                    ¿Puedo cambiar la cuenta de steam a la que se asocia?
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="question2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questions2">
                            <div class="panel-body">
                                Si, la cuenta a la que se asocia la podes cambiar cada 24hs. Eso se hace en "Opciones de cuenta"
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="questions3">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#askquestion" href="#question3" aria-expanded="false" aria-controls="question3">
                                    ¿La empresa se hace cargo si me banean?
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="question3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questions3">
                            <div class="panel-body">
                                Si el baneo fue por overwatch, la empresa no se hace cargo. Pero si el cheat fue detectado externamente se hace el reembolso
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="questions4">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#askquestion" href="#question4" aria-expanded="false" aria-controls="question4">
                                    ¿Es posible que el cheat se desactualice y deje de andar?
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="question4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questions4">
                            <div class="panel-body">
                                Si, como medida de seguridad los creadores de juegos suelen actualizar sus juegos cada muy poco tiempo, haciendo actualizaciones chicas para que los cheats dejen de funcinoar. Nosotros ponemos todo nuestro esfuerzo para mantener el cheat actualizado los 365 dias del año
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left_question_img">
            <img src="img/question-img.png" alt="">
        </div>
    </div>
</section>
<!--================End Asked Question Area =================-->

<footer class="footer_area">
    <div class="container">
        <div class="pull-left">
            <h4><p>Copyright 2018 All rights reserved | This web has made <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Lavacorp</a></p> </h4>
        </div>
        <div class="pull-right">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->
